npm-debug.log
node_modules
example
docs
.idea

# Don't ignore .npmignore files
!.npmignore

# GIANT
bak/
css/deps/bootstrap.min.css.bak
css/deps/jquery-ui.css.bak
examples/*.json
package.dev.json
package.prod.json
